{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form method="post" action=".">
  {% csrf_token %} 
  <p>{{ msg }}</p>
  <div class="form-group">
    <label for="id_username">Username</label>
    <input class="form-control" id="id_username" name="username" />
  </div>

  <div class="form-group">
    <label for="id_password">Password</label>
    <input class="form-control" id="id_password" name="password" type="password" />
  </div>

  <input type="submit" value="{% trans 'Log in' %}" class="btn btn-primary" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<hr />

<p>{% trans "Not member" %}? <a href="{% url 'account.views.register' %}">{% trans "Register" %}</a>!</p>
{% endblock %}
