{% extends "base.html" %}
{% load i18n %}

{% block header %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>BitMart</h1>
        <h2>A new road into the future.</h2>
        <p>Are you ready to witness a revolution?</p>
        <p><a class="btn btn-primary btn-lg" href="/accounts/login">Sign Up &raquo;</a></p>
      </div>
    </div>

{% endblock %}

{% block content %}

<p>BitMart currently hosts 218 vendors, listing 2193 unique products. Start browsing now!</p>

{% endblock %}
